<html>
	<title>Bipartisan | Score</title>
	
	{% include 'head.html' %}
	
	<body>
		{% include 'navbar.html' %}
		<script src="https://use.fontawesome.com/cf5e89bc9e.js"></script>

		<div class="container">
			<h1 class="page-title">B-Score</h1>
			<span class="page-subtitle">Uncover the bias of any news article by seeing its trustworthiness score.</span>
			<hr class="title-hr"></hr>
			
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form name="article-form" class="article-search-form" action="/bias" method="POST">
					<div class="form-group">
						<input name="article_url" id="article_utrl" type="text" class="form-control" placeholder="Enter article URL here...">
					</div>
					<button type="submit" class="btn btn-blue center-block">Get Score</button>
				</form>
				<div class="panel panel-default main-panel results-panel">
					<div class="panel-heading main-panel-heading">
						<a class="white-link" href="{{  article_info['url'] }}" target="_blank">
							{{ article_info["title"] }}
						</a>
					</div>
					<div class="panel-body main-panel-body">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<div id="article_progress_bar" class="center-block"></div>
								<span class="biscore-caption">BiScore</span>
							</div>
							<div class-"col-md-3"></div>
						</div>
						<br />
						<br />
						Similar Searches:<br />
						{% for keyword in article_info["keywords"] %}
							<span class="label label-keyword">{{ keyword }}</span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
		
		<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
		<script>
		function hslToRgb(h, s, l) {
		    var r, g, b;
		
		    if (s == 0) {
		        r = g = b = l; // achromatic
		    } else {
		        function hue2rgb(p, q, t) {
		            if (t < 0) t += 1;
		            if (t > 1) t -= 1;
		            if (t < 1 / 6) return p + (q - p) * 6 * t;
		            if (t < 1 / 2) return q;
		            if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
		            return p;
		        }
		
		        var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
		        var p = 2 * l - q;
		        r = hue2rgb(p, q, h + 1 / 3);
		        g = hue2rgb(p, q, h);
		        b = hue2rgb(p, q, h - 1 / 3);
		    }
		
		    return [Math.floor(r * 255), Math.floor(g * 255), Math.floor(b * 255)];
		}
		
		
		var colorVal = "";
		
		// convert a number to a color using hsl
		function numberToColorHsl(i) {
		    // as the function expects a value between 0 and 1, and red = 0° and green = 120°
		    // we convert the input to the appropriate hue value
		    var hue = i * 1.2 / 360;
		    // we convert hsl to rgb (saturation 100%, lightness 50%)
		    var rgb = hslToRgb(hue, 1, .5);
		    // we format to css value and return
		    colorVal = 'rgb(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ')';
		    console.log("COLOR: " + colorVal);
		    return 'rgb(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ')';
		}
		
		score = "{{article_info['score'] }}";
		console.log("Sc : " + score);
		numberToColorHsl(Math.round(score * 100));
		console.log("color: " + colorVal);
		articleID = article_progress_bar;
		
		var bar = new ProgressBar.SemiCircle(articleID, {
		    strokeWidth: 6,
		    color: '#FFEA82',
		    trailColor: '#eee',
		    trailWidth: 1,
		    easing: 'easeInOut',
		    duration: 1400,
		    svgStyle: null,
		    text: {
		        value: '',
		        alignToBottom: false
		    },
		    from: {
		        color: '#e74c3c'
		    },
		    to: {
		        color: colorVal
		    },
		    // Set default step function for all animate calls
		    step: (state, bar) => {
		        bar.path.setAttribute('stroke', state.color);
		        var value = Math.round(bar.value() * 100);
		        if (value === 0) {
		            bar.setText('');
		        } else {
		            bar.setText(value);
		        }
		
		        bar.text.style.color = state.color;
		    }
		});
		bar.text.style.fontFamily = '"Rubik", Helvetica, sans-serif';
		bar.text.style.fontSize = '2rem';
		
		bar.animate(score); // Number from 0.0 to 1.0
		</script>
	</body>
</html>