<html>
	<title>BiPartisan | Stream</title>
	
	{% include 'head.html' %}
	
	<body>
		{% include 'navbar.html' %}
		
		<div class="container">
			<h1 class="page-title">BiScore</h1>
			<span class="page-subtitle">Uncover the bias of any news article by seeing its trustworthiness score.</span>
			<hr class="title-hr"></hr>
			
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form class="article-search-form">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Enter article URL here...">
					</div>
					<button type="submit" class="btn btn-blue center-block">Get Score</button>
				</form>
				<div class="panel panel-default main-panel results-panel">
					<div class="panel-heading main-panel-heading">W</div>
					<div class="panel-body main-panel-body">
						<div class="col-sm-3">jflsdkfj</div>
						<div class="col-sm-9">lkdjfsldkjflsdkfjsdf</div>
						
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
		
	</body>
</html>