<html>
	<title>BiPartisan | Search</title>
	
	{% include 'head.html' %}
	
	<body>
		{% include 'navbar.html' %}
		<script src="https://use.fontawesome.com/cf5e89bc9e.js"></script>
		
		<div class="container">
			<h1 class="page-title">BiSearch</h1>
			<span class="page-subtitle">Search for news related to anything you'd like, and see the most trustworthy articles.</span>
			<hr class="title-hr"></hr>
			
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form name="search_form" class="article-search-form" action="/search" method = "POST">
					<div class="form-group">
						<input id="search_query" name="search_query" type="text" class="form-control" placeholder="Enter keywords, people, or anything else here...">
					</div>
					<button type="submit" class="btn btn-blue center-block">Search</button>
				</form>

				<div class="panel panel-default main-panel results-panel">
					<div class="panel-heading main-panel-heading">
						<i class="fa fa-external-link" aria-hidden="true"></i>
						ARTICLE TITLE
					</div>
					<div class="panel-body main-panel-body">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<div id="article_progress_bar" class="center-block"></div>
								<span class="biscore-caption">BiScore</span>
							</div>
							<div class-"col-md-3"></div>
						</div>
						<br />
						<p>ARTICLE DESCRIPTION</p>
						<br />
						Similar Searches:<br />
						<span class="label label-keyword">Keyword 1</span>
						<span class="label label-keyword">Keyword 2</span>
						<span class="label label-keyword">Keyword 3</span>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
		
		<script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
		<script src="{{ url_for('static', filename='js/progressbar_custom.js') }}"></script>
	</body>
</html>