<html>

	<title>Bipartisan | Stream</title>
    
    {% include 'head.html' %}

   
	<body class="black-bg">
		<script src="https://cesiumjs.org/releases/1.30/Build/Cesium/Cesium.js"></script>
        {% include 'navbar.html' %}

	    <div class="container">
	       <h1 class="page-title">B-Stream</h1>
	       <span class="page-subtitle">See a global heatmap and discover the top news anywhere you'd like.</span>
	       <hr class="title-hr"></hr>
	       <div id="cesiumContainer"></div>
	       <div class="toolbar-left">
			    <button onclick="alert('You clicked!');">Click me!</button>
			</div>
	    </div>
	    
	    <script src="{{ url_for('static', filename='js/stream.js') }}"></script>
	    
	</body>

</html>